@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --blue: #001b51;
    --blue2: #062d74;
    --blue3: #0054af;
    --blue4: #7cc2ff;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora' sans-serif;
    color: var(--white);
}

/*-----------------------------*/
/*Formt geral*/
.text-center {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}

/*-----------------------------*/

.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: var(--blue2);
}

.container-cabecalho h3 {
    font-weight: 600;
    font-size: 2em;
    color: var(--blue4);
}

/*-----------------------------*/
.container-navegaçao {
    text-align: center;
    padding: 20px;
    background-color: var(--blue3);
}

.container-navegaçao a {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    color: var(--blue4);
}
/*-----------------------------*/

.container-navegaçao a:hover{
    color: var(--white);
    transition: 0.3s;
}


.container-quem-somos {
    background-color: var(--blue);
    overflow: auto;
}

.container-quem-somos .servicos {
    float: center;
    margin: 60px auto;
    background-color: var(--blue2);
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.container-quem-somos .servicos .icone {
    margin-bottom: 10px;
}

.container-quem-somos .servico-texto {
    font-family: 'Montserrat';
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--blue4);
}

span {
    color: var(--white);
    font-weight: bold;
}


/*-----------------------------*/

.container-servicos-contato {
    background-color: var(--blue3);
    padding: 80px;
    text-align: center;
}

.container-servicos-contato .btn-servicos-contato {
    padding: 60px;
    text-align: center;
}

.btn-servicos-contato a {
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: var(--blue4);
    color: var(--white);
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;

}

.btn-servicos-contato a:hover {
    background-color: var(--white);
    color: var(--blue3);
}

/*-----------------------------*/
.container-servicos {
    background-color: var(--blue);
    font-size: 1.1em;
    padding: 60px;
    overflow: auto;
}

.container-servicos h1 {
    font-size: 3em;
    color: var(--white);
}

/*-----------------------------*/

footer {
    text-align: center;
    padding: 60px;
    background-color: var(--blue);
    color: gray;
}